/*simple style*/

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-tertiary);
  color: var(--accent-primary);
  border: 2px solid var(--white); 
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-weight: 600;
  line-height: 1;
}

